@import url('npm:normalize.css');

html,
body {
  overflow: hidden;
  margin: 0;
  height: 100%;
}

body {
  background: #000;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background: url('../img/bg.jpg') center / cover no-repeat;
  opacity: 0.1;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
